ol{
    display: flex;
    justify-content: space-between;
    list-style-type:  none;;
    text-decoration:none;
    margin: 0px;
    padding-left :180;
    padding-right: 90px;
    background-color: #00c8ff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 50px;
    align-items: center;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: rgb(253, 252, 252);
    padding: 7px;
}
.link:hover{
    color: rgb(9, 9, 8);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(202, 226, 234);
    opacity: 10000%;
    width: 200px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 10px 0px;
}

.dropdown-menu li:hover {
    opacity: 70000%;
}
.dropdown-menu {
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
